BLOCKS 4

TAB 1 1
KEYSYM 1 1 q
KEYSYM 1 1 w
KEYSYM 1 1 e
KEYSYM 1 1 r
KEYSYM 1 1 t
KEYSYM 1 1 y
KEYSYM 1 1 u
KEYSYM 1 1 i
KEYSYM 1 1 o
KEYSYM 1 1 p
DELETE 1 1

KEY 1 1 /
KEYSYM 1 1 a
KEYSYM 1 1 s
KEYSYM 1 1 d
KEYSYM 1 1 f
KEYSYM 1 1 g
KEYSYM 1 1 h
KEYSYM 1 1 j
KEYSYM 1 1 k
KEYSYM 1 1 l
KEYSYM 1 1 ntilde
RETURN 1 2

JUMPTO 1 1 1 SHIFT
KEYSYM 1 1 z
KEYSYM 1 1 x
KEYSYM 1 1 c
KEYSYM 1 1 v
KEYSYM 1 1 b
KEYSYM 1 1 n
KEYSYM 1 1 m
KEY 1 1 ,
KEY 1 1 .
UP 1 1
BLANK 1 1

JUMPTO 1 1 2 SYMBOLS
KEY 1 1 -
KEY 1 1 _
KEY 1 1 @
KEY 1 1 $
SPACE 2 1
BLANK 1 1
KEY 1 1 ;
KEY 1 1 :
LEFT 1 1
DOWN 1 1
RIGHT 1 1


# upper case
JUMPTO 1 1 3 CTRL
KEYSYM 1 1 Q
KEYSYM 1 1 W
KEYSYM 1 1 E
KEYSYM 1 1 R
KEYSYM 1 1 T
KEYSYM 1 1 Y
KEYSYM 1 1 U
KEYSYM 1 1 I
KEYSYM 1 1 O
KEYSYM 1 1 P
DELETE 1 1

KEY 1 1 /
KEYSYM 1 1 A
KEYSYM 1 1 S
KEYSYM 1 1 D
KEYSYM 1 1 F
KEYSYM 1 1 G
KEYSYM 1 1 H
KEYSYM 1 1 J
KEYSYM 1 1 K
KEYSYM 1 1 L
KEYSYM 1 1 Ntilde
RETURN 1 2

JUMPTO 1 1 0 SHIFT
KEYSYM 1 1 Z
KEYSYM 1 1 X
KEYSYM 1 1 C
KEYSYM 1 1 V
KEYSYM 1 1 B
KEYSYM 1 1 N
KEYSYM 1 1 M
KEY 1 1 ,
KEY 1 1 .
UP 1 1
BLANK 1 1

JUMPTO 1 1 2 SYMBOLS
KEY 1 1 -
KEY 1 1 _
KEY 1 1 @
KEY 1 1 $
SPACE 2 1
BLANK 1 1
KEY 1 1 ;
KEY 1 1 :
LEFT 1 1
DOWN 1 1
RIGHT 1 1


KEYSYMTEXT 1 1 F1 F1
KEYSYMTEXT 1 1 F2 F2
KEYSYMTEXT 1 1 F3 F3
KEYSYMTEXT 1 1 F4 F4
KEYSYMTEXT 1 1 F5 F5
KEYSYMTEXT 1 1 F6 F6
KEYSYMTEXT 1 1 F7 F7
KEYSYMTEXT 1 1 F8 F8
KEYSYMTEXT 1 1 F9 F9
KEYSYMTEXT 1 1 F10 F10
KEYSYMTEXT 1 1 F11 F11
KEYSYMTEXT 1 1 F12 F12

KEY 1 1 \
KEYSYM 1 1 1
KEYSYM 1 1 2
KEYSYM 1 1 3
KEYSYM 1 1 4
KEYSYM 1 1 5
KEYSYM 1 1 6
KEYSYM 1 1 7
KEYSYM 1 1 8
KEYSYM 1 1 9
KEYSYM 1 1 0
KEY 1 1 |

KEY 1 1 !
KEY 1 1 "
KEY 1 1 #
KEY 1 1 %
KEY 1 1 &
KEY 1 1 *
KEY 1 1 +
KEY 1 1 =
KEY 1 1 ?
KEY 1 1 '
KEY 1 1 `
KEY 1 1 ·

JUMPTO 1 1 0 LETTERS
KEY 1 1 (
KEY 1 1 )
KEY 1 1 <
KEY 1 1 >
KEY 1 1 [
KEY 1 1 ]
KEY 1 1 {
KEY 1 1 }
KEY 1 1 Ç
KEY 1 1 º
KEY 1 1 ª


# CTRL
BLANK 1 1
KEYCTRL 1 1 q
KEYCTRL 1 1 w
KEYCTRL 1 1 e
KEYCTRL 1 1 r
KEYCTRL 1 1 t
KEYCTRL 1 1 y
KEYCTRL 1 1 u
KEYCTRL 1 1 i
KEYCTRL 1 1 o
KEYCTRL 1 1 p
BLANK 1 1

BLANK 1 1
KEYCTRL 1 1 a
KEYCTRL 1 1 s
KEYCTRL 1 1 d
KEYCTRL 1 1 f
KEYCTRL 1 1 g
KEYCTRL 1 1 h
KEYCTRL 1 1 j
KEYCTRL 1 1 k
KEYCTRL 1 1 l
BLANK 1 1
BLANK 1 1

BLANK 1 1
KEYCTRL 1 1 z
KEYCTRL 1 1 x
KEYCTRL 1 1 c
KEYCTRL 1 1 v
KEYCTRL 1 1 b
KEYCTRL 1 1 n
KEYCTRL 1 1 m
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1

JUMPTO 1 1 0 LETTERS
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
BLANK 1 1
